p {
  padding-left:50px;
  padding-right:50px;
  text-align:left;


h1, h2, h3, h4, h5, h6
{
  padding: 20px 50px;
  text-align: left;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align:left;
    padding-left:100px;
    padding-right:50px;
}

div.row.boarderElement{
  border-style: solid;
  border-color :#4d3a7d;
  border-bottom-width: thin;
  padding-left:50px;
  padding-right:50px;
}


shiny-text-output shiny-bound-output{
  padding: 10px 20px;
}

.main-header {
  text-align: center;
}

.optgroup-header{ 
  font-weight: 600;
  background-color: coral;
  text-size-adjust: 1.5;
}
a {
    color: #0000FF;
    text-decoration: underline;
}

a.nav-link{
  color: #245D38 !important;
  
}


.nav-tabs .nav-link.active, .nav-tabs>li>a.active,{
    background: #ffcd00;
}

.nav-tabs .nav-link, .nav-tabs>li>a, .nav-tabs .nav-pills>li>a, .nav-tabs ul.nav.navbar-nav>li>a {
    margin-bottom: -1px;
    border: 1px solid;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

div.row.titleElement{
  background:#001970;
  color: #FFFFFF;
}

div.row.sectionTitle{
  background:#35647e;
  color: #FFFFFF;
  margin: 10px;
}

/* Make map search button yellow*/
a.search-button{
   background-color: #ffcd00 !important;
}

/* Make selection labels bold*/
label.control-label {
        font-size: 15px;
        font-weight: bold;
}
      
  
/* Highlight group selection headers in indicator drop down */
.selectize-dropdown .optgroup-header{
  color: #000000 !important;
  background-color: #95a5a6 !important;
}

