p {
  padding-left:50px;
  padding-right:50px;
  text-align:left;
}


h1, h2, h3, h4, h5, h6
{
  padding: 20px 50px;
  text-align: left;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align:left;
    padding-left:100px;
    padding-right:50px;
}

div.row.boarderElement{
  border-style: solid;
  border-color :#4d3a7d;
  border-bottom-width: thin;
  padding-left:50px;
  padding-right:50px;
}



shiny-text-output shiny-bound-output{
  padding: 10px 20px;
}

.main-header {
  text-align: center;
}


.optgroup-header{
  font-weight: 600;
  background-color: coral;
  text-size-adjust: 1.5;
}
/* text color for hyperlink blue */
a{color: #0000FF;
  text-decoration: underline;
}

/* stlying for all tabset panels */
a.nav-link{
  color: #FFFFFF !important;
  background-color: #245d38;
  font-size: 18px;
}

/* stlying for selected tab */
.nav-tabs .nav-link.active, .nav-tabs>li>a.active,{
    background: #ffcd00;
    color: #000000 !important;
}

/* Positing for all tabs */
.nav-tabs{
  display: flex !important;
  justify-content: center !important;
  width: 100%;
  margin-bottom: 10px;
}




div.row.titleElement{
  background:#001970;
  color: #FFFFFF;
}

div.row.sectionTitle{
  background:#35647e;
  color: #FFFFFF;
  margin: 10px;
}

div.row.plotArea{
}


/* Make map buttons yellow*/
a.search-button,a.leaflet-control-layers-toggle{
  background-color: #ffcd00 !important;
}

/* Make selection labels bold*/
label.control-label {
        font-size: 28px;
        font-weight: bold;
}


/* Highlight group selection headers in indicator drop down*/
.selectize-dropdown .optgroup-header{
  color: #000000 !important;
  background-color: #95a5a6 !important;
}


/*style all buttons */
.btn{
  background-color: #ef7521!important;
}
/*style individula buttons*/
#updateMap, #button_remove {
    margin: 30px 30px !important;
}
#removeHighlight {
  margin: 25px 30px !important;
}
#downloadData, #button_table{
  margin: 5px 10px !important;
}

/* sytle supporting text*/
div.tab-content{
  margin: 10px 50px
}
